@import url(style.css);

.offer{
    width: 100%;
    height: 35rem;
    background-color: var(--teal950);
    border-radius: 0rem 0rem 3.75rem 3.75rem;

    display: flex;
    flex-direction: row;
    align-items: center
}

.offerhead{
    height: fit-content;
    padding-left: 10rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.offerimg{
    flex-basis: 50%;
    padding-left: 20rem;
}

.offerimg img{
    height: 28rem;
    width: 28rem;
    border-radius: 3rem;
}

.offerhead h2{
    font-family: 'Quantico', sans-serif;
    font-size: 2rem;
    color: var(--teal200);
}

.offerhead h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color: white;
}

.offerhead h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    color: var(--teal200);
}

.offerhead button{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: var(--teal800);
    border-radius: 2rem;
    border: 1px solid var(--teal800);
    height: 3rem;
    width: 12rem;
}

.feature{
    font-family: 'Stick No Bills', sans-serif;
    margin-left: 5rem;
    color: var(--teal950);
    font-size: 2rem;
}

.item{
    font-family: 'Poppins', sans-serif;
    width: 80rem;
    height: 20rem;
    margin-left: 7.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    border-radius: 0.625rem;
    background-color: var(--teal950);
    color: white;
}

.item img{
    margin: 1.25rem;
    height: 17.5rem;
    width: 17.5rem;
    border-radius: 1rem;
    float: left;
}

.item1{
    width: 70rem;
    display: flex;
    flex-direction: column;
}

.item h2{
    font-size: 1.1rem;
    font-weight: 200;
}

.item2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.25rem;
}

.item h1{
    font-size: 2.2rem;
    font-weight: 200;
}

.item button{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: var(--teal800);
    border: 1px solid var(--teal800);
    height: 3rem;
    width: 12rem;
    float: right;
    margin-right: 1.25rem;
    border-radius: 0.400rem;
}

input[type=submit]{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: var(--teal800);
    border: 1px solid var(--teal800);
    height: 3rem;
    width: 12rem;
    float: right;
    margin-right: 1.25rem;
    border-radius: 0.400rem;
}