<html>
    <head>
        <link rel="stylesheet" href="/CSS/menu.css">
        <script src="https://kit.fontawesome.com/4db2b05c4a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="menu">
            <div class="menu-item"><p>Components</p></div>
            <a href="#" class="menu-item">Notebooks</a>
            <a href="#" class="menu-item">Peripherals</a>
            <a href="#" class="icon"><i class="fa-solid fa-user fa-xl"></i></a>
            <a href="#" class="icon"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
        </div>
        <div class="offer">
            <div class="offerhead">
                <h2>Fresh Arrivals</h2>
                <h1>Microsoft Surface Pro 2</h1>
                <h3>Unleash your creativity with the Microsoft Surface Pro 2 - Your versatile companion for work and play, now at your fingertips!</h2>
                <button>Shop Now</button>
            </div>
            <div class="offerimg"><img src="/Images/laptop.png"></div>
        </div>
        <div class="feature"><h1>Featured Products</h1></div>
        <div class="item">
            <img src="/Images/camera.png">
            <div class="item2">
                <h1>Nikon 500 Pro</h1>
                <h1>$500</h1>
            </div>
            <h2>Capture every moment in stunning detail with the Nikon 500 Pro - Elevate your photography game with precision and power.</h2>
            <button>Add to Cart</button>
        </div>
        <div class="item">
            <img src="/Images/camera.png">
            <div class="item2">
                <h1>Nikon 500 Pro</h1>
                <h1>$500</h1>
            </div>
            <h2>Capture every moment in stunning detail with the Nikon 500 Pro - Elevate your photography game with precision and power.</h2>
            <button>Add to Cart</button>
        </div>
        <div class="item">
            <img src="/Images/camera.png">
            <div class="item2">
                <h1>Nikon 500 Pro</h1>
                <h1>$500</h1>
            </div>
            <h2>Capture every moment in stunning detail with the Nikon 500 Pro - Elevate your photography game with precision and power.</h2>
            <button>Add to Cart</button>
        </div>
        <div class="item">
            <img src="/Images/camera.png">
            <div class="item2">
                <h1>Nikon 500 Pro</h1>
                <h1>$500</h1>
            </div>
            <h2>Capture every moment in stunning detail with the Nikon 500 Pro - Elevate your photography game with precision and power.</h2>
            <button>Add to Cart</button>
        </div>
    </body>
</html>